@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600,700&family=Roboto:wght@400,500,700&family=Nunito:wght@500&display=swap");
@import "./_reset.scss";
@import "./_variables.scss";

body {
  background-color: #fafafa;
  font-family: $font-family;
  overflow-y: hidden;
}

h1 {
  font-family: $font-family-secondary;
  font-weight: $font-weight-bold;
  font-size: $font-size-lg;
  color: $color-header-primary;
}

h2 {
  font-family: $font-family-secondary;
  font-weight: $font-weight-semibold;
  font-size: $font-size-md;
  color: $color-header-primary;
}
